page-agendamentos {
    .reservado{
        background:  #00b28e;
        color: white
    }

    .check {
        position: absolute;
        color: #00b28e;
        top: 0;
        right: 0;
    }
}
